#resultform {
  display: none
}

#csharp {
  display: none;
}

#react {
  display: none;
}

#php {
  display: none;
}

#java {
  display: none;
}

body {
  background-color: #e3ede7
}

.btn {
  margin-top: 25px;
}

.well h1 {
  font-weight: bold;
}

.well h3 {
  font-style: italic;
}

.well {
  font-family: 'Nanum Gothic', sans-serif;
}

.well {
  margin-top: 20px;
}

p {
  font-size: 17px;
}

#resulttxt {
  font-size: 20px
}

#result {
  font-weight: bold;
}

.form-group {
  width: 50%;
}

img {
  width: 400px;
}

img#qmark {
  width: 600px;
}
